<header class="header">
  <div class="header__title">
    <h1>My<i class="bi bi-bookmarks"></i>books</h1>
    <p>Your reading guide in one place</p>
  </div>
</header>

<main class="container">
  <!-- <span><strong>0</strong> active books</span> -->
  <div class="add-book">
    <input class="add-book__input" type="text" placeholder="Add new book" />
    <input type="add-book__submit" value="Agregar libro" />
  </div>
  <section>
    <ul>
      <li class="completed">
        <div class="view">
          <input type="checkbox" name="" id="" checked />
          <label>El tablero de la reina</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="El tablero de la reina" />
      </li>
      <li class="">
        <div class="view">
          <input class="toogle" type="checkbox" name="" id="" checked />
          <label>Parque Jurásico</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Parque Jurásico" />
      </li>
      <li class="editing">
        <div class="view">
          <input class="toogle" type="checkbox" name="" id="" checked />
          <label>La telaraña</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="La telaraña" />
      </li>
    </ul>
  </section>
  <footer>
    <ul class="filters">
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">All</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">Reading</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">Completed</a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="router-link-active">Wish list</a>
      </li>
    </ul>
    <button>Clear Completed</button>
  </footer>
</main>
